* {
    box-sizing: border-box;
}

body {
    background-image: url("./images/background-image.jpg");
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
max-width: 960px;
background: rgba(240, 248, 255, 0.8);
padding: 10px;
text-align: center;
margin: auto;
}

#churchillStart {
   width: 300px;
   height: 363px;
   align-content: center;
}

#churchillEnd {
    width: 400px;
    height: 366px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    width: 150px;
    padding: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
font-weight: bold;
margin-bottom: 5px;
}

#questionOne, #questionTwo, #questionThree, #questionFour, #questionFive, #questionSix, #questionSeven, #questionEight {
    margin-bottom: 20px;
}


